#add {
    position: relative;
    right: 0px;
    top: 30px;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

.column {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    position: relative;

    min-width: 216px;
    margin: 8px;
    height: 100%;
}

.column .col {
    height: 100%;
    /*background: #eaffe0;*/
    background: #e7f0f5;
}

.column .column-title {
    text-align: center;
    border-bottom: 2px solid #ababab;
    background: #d6d4ff;
    padding: 10px 15px;
    margin: 0;
}

/*.column-drag-target:before {
    float: right;
    height: 100%;
    width: 0;
    border-left: 4px dashed #ababab;
    content: "";
}*/

.col.is-dragged {
    opacity: 0.4;
}

.card {
    margin: 10px;
    padding: 0 5px;
    background: #ffffff;
    box-shadow: 0 0 4px #a1a1a1;
}

.card.is-dragged {
    background: #efefef;
}

.card.hl {
    background: #82b1ff;
}
