<div class="col"
     draggable="true"
     (dragstart)="onDragStart($event)"
     (dragover)="onDragOver($event)"
     (dragenter)="onDragEnter($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)"
     (dragend)="onDragEnd($event)"
     [class.is-dragged]="isDragged">
    <h5 class="column-title">{{column.title}}</h5>

    <card-component *ngFor="let card of columnCards()"
                    [card]="card"
                    [draggedCard]="draggedCard"
                    [dragCardEnd]="dragCardEnd"
                    (dragCard)="onDragCard($event)">
    </card-component>
</div>
