<div class="grid">
    <column-component class="column"
                      *ngFor="let column of columns; let columnIndex = index"
                      [column]="column"
                      [cards]="cards"
                      [draggedCard]="dragCard"
                      (dragColumn)="onDragColumn($event)"
                      (moveColumn)="onMoveColumn($event)"
                      (dragCard)="onDragCard($event)"
                      (moveCard)="onMoveCard($event)"
                      (dragCardEnd)="onDragCardEnd($event)">
    </column-component>
</div>
